root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{kt,kts}]
ktlint_code_style = ktlint_official
multiline-if-else = unset
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^ # default IntelliJ IDEA style, same as alphabetical, but with "java", "javax", "kotlin" and alias imports in the end of the imports list
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_packages_to_use_import_on_demand = java.util.*,io.github.uharaqo.**,arrow.core.**
ij_kotlin_name_count_to_use_star_import = 5
ij_kotlin_name_count_to_use_star_import_for_members = 5
